{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'landing/cart.css' %}">

   <!-- <div class="sidebar">
        <h2 class="sidebar-title">Masterworks</h2>
        <nav class="sidebar-nav">
            <a href="#" class="sidebar-link active">
                <i class="fa-solid fa-user"></i>
                Profile
            </a>
            <a href="#" class="sidebar-link">
                <i class="fa-solid fa-receipt"></i>
                Bookings
            </a>
            <a href="#" class="sidebar-link">
                <i class="fa-solid fa-bell"></i>
                Notifications
            </a>
            <a href="#" class="sidebar-link">
                <i class="fa-solid fa-cart-shopping"></i>
                Cart
            </a>
            <a href="#" class="sidebar-link">
                <i class="fa-solid fa-message"></i>
                Messages
            </a>
        </nav>
    </div> -->
    
<div class="cart-container">
    <div class="cart-content">
        <ul class="cart-items">
            {% for item in cart_items %}
            <li class="cart-item">
                <img src="{{ item.workshop.image_url }}" alt="{{ item.workshop.title }}">
                <div class="item-details">
                    <h3>{{ item.workshop.title }}</h3>
                    <p>{{ item.date_time }} - €{{ item.workshop.price }} {% if item.paid %}<span class="paid">Paid</span>{% endif %}</p>
                    <p>Quantity: {{ item.quantity }}</p>
                    <a href="#" class="remove-item">Remove</a>
                </div>
            </li>
            {% empty %}
            <li>Your cart is empty.</li>
            {% endfor %}
        </ul>
        <a href="{% url 'workshop_list' %}">Continue Shopping</a>
    </div>
    <div class="cart-sidebar">
        <h3>Details</h3>
        <textarea class="details-textarea" placeholder="Enter any special details here..."></textarea>

        <h3>Date</h3>
        <select class="time-dropdown">
            <option value="7th June 2024" selected>9:30 am</option>
            <option value="8th June 2024">10:30 am</option>
            <option value="9th June 2024">11:30 am</option>
        </select>

        <h3>Time</h3>
        <select class="time-dropdown">
            <option value="9:30 am" selected>9:30 am</option>
            <option value="10:30 am">10:30 am</option>
            <option value="11:30 am">11:30 am</option>
        </select>

        <button class="save-settings">Save settings</button>
        <button class="cancel-workshop">Cancel workshop</button>
    </div>
</div>
{% endblock %}


